.container {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-weight: 400;
    font-family: 'Finlandica', sans-serif;
    scroll-behavior: smooth;
}

h1, h2, h3, p, a {
    text-align: center;
    display: block;
    text-decoration: none;
}

body {
    background:#F0EAD2;
    overflow-x: hidden;
}

section {
    padding: 1.875em;
    background-color: #F0EAD2;
}

/* Nav */
.home {
    position: relative;
    width: 100%;
    min-height: 3.125em;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    Left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: 0.3s;
    background: rgb(240, 234, 210);    
    padding: 0 2.5em;
}

header .adc { 
    font-size: 1.5625em;
    text-decoration: none;       
    color: #8ea356;
    padding: 0 0.625em;
    font-weight: bolder;
}

header .nav {
    position: relative;
    display: flex;    
}

header .nav li {
    list-style: none;
    margin: 1.25em;
}

header .nav li a {
    text-decoration: none;
    color: #8ea356;
    font-weight: 600;
    padding: 0.5em;
    transition: 0.6s;
    font-size: 0.9375em;
    text-transform: uppercase;
    border-radius: .5em;
}

header .nav li a:hover {
    background-color: #8ea356;
    color: #F0EAD2;
    border-radius: .5em;
    transition: .6s;
}

/* Presentation */
.one {
    background-position: bottom;
    background-color: #F0EAD2;
    text-align: center;
    position: relative;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.one .title {
    max-width: 31.25em;
    color: #A98467;
    margin-right: 7.5em;
}

.one .title h1{
    text-transform: uppercase; 
    line-height: 1.5;
    margin-bottom: 0.125em;
}

.one .title h2 {
    line-height: 1.5;
    margin-bottom: 0.9375em;
    font-weight: 500;
    font-weight: bolder;
    font-size: 1.125em;
}

.one .title p {
    margin-bottom: 2em;
}

.one .image {
    width: 37.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.125em 0 3.125em 0;
}

.one .image img {
    width: 16.875em;
    box-shadow: 0.9375em 0.9375em 0 0 #A98467;        
    border-radius: 25%;
    transition: .5s;
    border: 0.125em solid #A98467;
}

.one img:hover {
    transform: translate(-0.625em);    
    box-shadow: 2.1875em 0.9375em 0 0 #A98467;
    transition: .5s;
}

.one .download-cv {
    background-color: #f7ede6;
    color: #A98467;
    font-size: 1.5em;
    border-radius: .5em;
    display: inline;
    padding: .125em .5em;
    box-shadow: 0.25em 0.25em 0 0 #A98467;        
    border: 0.05em solid #A98467;
    transition: .5s;
}

.one .download-cv:hover {
    transform: translate(.5em);  
    box-shadow: .5em .5em 0 0 #A98467;
    transition: .5s;
}

/* What I know */
.two {
    position: relative;
    background: #A98467;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.two .title {
    font-size: 2em;
    font-weight: 600;
    color: #F0EAD2;
    margin-bottom: 0.625em;
    text-transform: uppercase;  
}


.two h3 {
    font-size: 1.125em;    
    color: #F0EAD2;
}

.two .skills {
    display: flex;
    justify-content: center;
}

.two .skills .grid-skills-container {
    border-radius: 2em;
    background: #A98467;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    margin: 0 0.6em;
    transition: 0.4s;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 5em;
}

.two .grid-web-container {
    display: grid;
    grid-template-rows: auto auto; /* Dos filas automáticas */
    grid-template-columns: repeat(3, 1fr); /* Tres columnas con tamaño fraccional igual */
    gap: .875em; /* Espacio entre celdas */
}

.grid-web-container .web-title {
    grid-row: 1; /* Establecer en la primera fila */
    grid-column: 1 / span 3; /* Ocupar las 2 columnas */
}

.two .grid-design-container {
    display: grid;
    grid-template-rows: auto auto; /* Dos filas automáticas */
    grid-template-columns: repeat(2, 1fr); /* Dos columnas con tamaño fraccional igual */
    gap: .875em; /* Espacio entre celdas */
}

.grid-design-container .design-title {
    grid-row: 1; /* Establecer en la primera fila */
    grid-column: 1 / span 2; /* Ocupar las 2 columnas */
}

.two .skills #html, #css, #js, #illustrator, #figma {
    width: 6.25em;
    margin: 0 0.5em;
    transition: 1.5s;
    display: inline-block;
}

.two .skills #html img, #css img, #js img,
#illustrator img, #figma img {
    margin-bottom: 0.3125em;
    width: 5em;
    transition: .5s;
    filter: drop-shadow(0.125em 0.1875em 0.0625em #6c4c34);
}

.two .skills #html img:hover, #css img:hover,
#js img:hover, #illustrator img:hover, #figma img:hover {
    transform: translateY(-0.625em);
    transition: .5s;
}

/* Projects */
.three {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.three .projects {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /*grid-gap: 4.375em;*/
}

.three .projects .grid-projects-container {
    display: flex;
    flex-direction: row;
}

.three .projects .card {
    text-align: center;
    color: #A98467;
    width: 21.875em;
    padding: 1.875em auto;
}

.three .projects .images {
    width: 13.75em;
    padding: 0 2.1875em;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.three .projects .images img {
    width: 100%;
}

.three .projects h3 {
    font-size: 1.3em;
    display: block;
    color: #A98467;
    font-weight: 500;
}

.three h3 span {
    font-weight: 800;
    color: #A98467;
}

.three .projects .card a {
    color: #A98467;
    text-decoration: none;
    font-weight: 500;
}

.three .title {
    color: #A98467;
    font-size: 1.8em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.625em;
}

.three .card p {
    margin: 0.6em 0;
}

.three .textBox p {
    color: #A98467;
    margin-bottom: 2em;
}

/* Footer */
footer {
    background-color: #A98467;
    text-align: center;
    display: block;
}

footer .title {
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1em;
    padding-top: 1.5em;
    color: #F0EAD2;
}

footer i {
    padding: 0.325em;
    font-size: 1.875em;
    color: #F0EAD2;
    transition: 1s;
    border-radius: 50%;
}

footer .links-container {
    display: grid;
    grid-template-columns: repeat(2, 20em);
    justify-content: center;
    align-items: center;
}

/* footer .personal {
    position: relative;
    display: grid;
    grid-template-rows: auto; Dos filas automáticas
    grid-template-columns: 18em; Dos columnas con tamaño fraccional igual
    width: 100%;
    text-align: center;
    justify-content: center;
} */

footer .personal .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #F0EAD2;
}

footer .profesional {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*grid-template-rows: auto auto; Dos filas automáticas */
    /*grid-template-columns: repeat(2, 1fr); Dos columnas con tamaño fraccional igual */
    width: 100%;
    text-align: center;
}

footer a {
    margin-top: 0.625em;
    margin: 0.325em .5em;
    border-radius: 2em;
    text-decoration: none;
    transition: .5s;
}

footer a:hover > i {
    color: #A98467;
    background-color: #F0EAD2;
}

/* Mobile */
@media only screen and (max-width: 1024px) {
    .three .projects .card {
        max-width: 17.5em;
    }
}
@media only screen and (max-width: 990px) {
    .one .title {
        max-width: 50em;
        margin-right: 3.75em;
    }

    .one .title h1 {
        font-size: 1.75em;
    }
    
    .textBox p {
        margin-bottom: 1em;
    }
    
    .two .skills .java-grid-skills-container,
    .web-developing, 
    .game-developing {
        display: inline;
        padding-bottom: 1.2em;
    }

    .two .skills .java-grid-skills-container .grid-skills-container {
        width: 17.5em;
        margin: 0 auto;
    }

    .two .skills .web-developing .grid-skills-container {
        width: 24.375em;
        margin: 0 auto;
    }

    .two .skills .game-developing .grid-skills-container {
        width: 17.5em;
        margin: 0 auto;
    }

    .two .skills .sub-title h2 {
        margin-top: 1.25em;
    }

    .three .projects {
        display: inline;
    }

    .three .projects .card {
        height: 16.875em;
        margin-bottom: 1.75em;
    }
}
@media only screen and (max-width: 825px) {
    .one {
        display: inline;
        text-align: center;
    }

    .one .image {
        width: 100%;
        margin: 2em auto;
    }

    .one .title {
        width: 100%;
        margin: 1em auto;
    }
}
@media only screen and (max-width: 670px) {
    header {
        background: none;
        padding: 0.625em 0.625em;
    }
    
    header .nav {
        display: none;       
    }

    header .nav.active {
        width: 100%;
        height: calc(100% - 3.75em);
        position: fixed;
        top: 4.375em;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #0D3B66;
    }

    header .nav li a {
        font-size: 2em;
    }

    header a i {
        margin-top: 0.625em;
        font-size: 1.4em;
        color: #1c76ca;
    }

    header .adc {
        font-size: 1.4em;
        color: #1c76ca;
    }

    .menuToggle {
        position: relative;
        width: 1.875em;
        height: 1.875em;
        background: url(images/menu.png);
        background-size: 2.5em;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .menuToggle.active {    
        background: url(images/close.png);
        background-size: 2.5em;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .menuToggle i {
        color: #0D3B66;
    }

    .one {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 1em;

    }    

    .one .image {
        max-width: 15em;
    }

    .one .title {
        max-width: 28.125em;
    }

    .one .title h1{
        font-size: 1.7em;
    }
    
    .one .title h2 {
        font-size: 1em;
    }
    
    .one .title p {
        font-size: 0.9em;
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 570px) {
    header {
        width: 100%;
    }

    header .nav.active {
        width: 100%;
    }
    
    footer i {
        font-size: 1.5625em;
    }
}
@media only screen and (max-width: 490px) {
    .one .title {
        max-width: 320px;
    }

    .three .projects .images {
        max-width: 220px;
    }
}
@media only screen and (max-width: 446px) {
    .two .skills #cs, #unity, #html, #css, #js, #jv, #pcs {
        width: 6.25em;
        margin-left: 0;
        margin-right: 0;
    }

    .two .skills #cs img, #unity img, #html img, #css img,
    #js img, #jv img, #pcs img {
        width: 4.375em;
    }

    .two .skills .java-grid-skills-container .grid-skills-container {
        width: 15.625em;
    }

    .two .skills .web-developing .grid-skills-container {
        width: 21.875em;
    }

    .two .skills .game-developing .grid-skills-container {
        width: 15.625em;
    }

    .three .card {
        max-width: 18.75em;
    }

    footer .social #tt, #github, #ig, #linkedin {
        width: 4.6875em;
    }
}
@media only screen and (max-width: 386px) {
    .two .skills #cs, #unity, #html, #css, #js, #jv, #pcs {
        width: 5.625em;
    }
    .two .skills .java-grid-skills-container .grid-skills-container {
        width: 12.5em;
        padding: 0.8em 0;
    }

    .two .skills .web-developing .grid-skills-container {
        width: 18.75em;
        padding: 1.2em 0;
    }

    .two .skills .game-developing .grid-skills-container {
        width: 12.5em;
        padding: 0.8em 0;
    }
}
