.container {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-weight: 400;
    font-family: 'Finlandica', sans-serif;
    scroll-behavior: smooth;
}

h1, 
h2,
h3,
p {    
    text-align: center;
    display: block;
}

body {
    background:#EFF9FE;
    overflow-x: hidden;
}

section {
    padding: 30px;
    background-color: #EFF9FE;
}

.home {
    position: relative;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    Left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: 0.3s;
    background: #0D3B66;    
    padding: 0px 40px;
}

header .adc { 
    font-size: 25px;
    text-decoration: none;       
    color: #EFF9FE;
    padding: 0px 10px;
    font-weight: bolder;
}

header .nav {
    position: relative;
    display: flex;    
}

header .nav li {
    list-style: none;
    margin: 20px;
}

header .nav li a {
    text-decoration: none;
    color: #EFF9FE;
    font-weight: 600;
    padding: 10px;
    transition: 0.6s;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 10%;
}

header .nav li a:hover {
    background-color: #EFF9FE;
    color: #0D3B66;
    border-radius: 10%;
    transition: .6s;
}
/* Nav

/* Presentation */
.one {
    background-position: bottom;
    background-color: #EFF9FE;
    text-align: center;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
}

.one .title {    
    max-width: 600px;
    color: #0D3B66;
    margin-right: 120px;
}

.one .title h1{
    text-transform: uppercase; 
    line-height: 1.5;
    text-align: center;
    margin-bottom: 2px;
}

.one .title h2 {
    line-height: 1.5;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 500;
    font-weight: bolder;
    font-size: 18px;
}

.one .title p {
    color: #0D3B66;
    margin-bottom: 15px;
}

.one .image {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 50px 0px;    
}

.one .image img {
    width: 270px;
    box-shadow: 15px 15px 0px 0px #0D3B66;        
    border-radius: 5%;
    transition: .5s;
    border: 3px solid #437eb4;
}

.one img:hover {
    transform: translate(-10px);    
    box-shadow: 35px 15px 0px 0px #0D3B66;
    transition: .5s;
}

/* What I know */
.two {
    position: relative;
    background: #0D3B66;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.two .title {
    font-size: 2em;
    font-weight: 600;
    color: #EFF9FE;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;   
}

.textBox {
    position: relative;
}

.textBox p {
    text-align: center;
    color: #EFF9FE;
    margin-bottom: 40px;
}

.two h3 {
    font-size: 18px;    
    color: #EFF9FE;
}

.two .logos {
    display: inline-block;
}

.two .logos .sub-title h2 {
    font-size: 1.3em;
    color: #EFF9FE;
    margin-bottom: 0.25em;
}

.two .logos .things {
    /* border: 2px solid #EFF9FE; */
    border-radius: 5%;
    background: #042849;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px 10px 0px 8px;
    transition: 0.4s;
    text-align: center;
}

.two .logos .java-things,
.web-developing, 
.game-developing {
    display: inline-block;    
}

.two .logos .things:hover {
    box-shadow: 5px 5px 3px 3px #0c0d4d;
    transition: 0.4s;  
}

.two .logos #cs,
#unity,
#html,
#css,
#js,
#jv,
#pcs {
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 1.5s;
    display: inline-block;
}

.two .logos #cs img,
#unity img,
#html img,
#css img,
#js img,
#jv img, 
#pcs img {
    margin-bottom: 5px;
    width: 80px;
    transition: .5s;
    filter: drop-shadow(4px 3px 1px #0c0d4d);
}

.two .logos #cs img:hover,
#unity img:hover,
#html img:hover,
#css img:hover,
#js img:hover,
#jv img:hover,
#pcs img:hover {
    transform: translateY(-10px);
    transition: .5s;
}

/* Projects */
.three {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.three .projects {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px;    
    /* border: 1px solid #0c0d4d; */
}

.three .projects .card {
    text-align: center;
    color: #0c0d4d;
    width: 350px;
    height: 280px;
    padding: 30px;
    margin-bottom: 2em;
    /* border: 1px solid #0c0d4d; */
}

.three .projects .images {
    width: 220px;
    padding: 0px 0px 10px 70px;
    /* border: 1px solid #0c0d4d; */
}

.three .projects .images img {
    width: 100%;
}

.three .projects h3 {
    font-size: 1.3em;
    display: block;
    color: #0D3B66;
    font-weight: 500;
}

.three h3 span {
    font-weight: 800;
    color: #0D3B66;
}

.three .projects a {
    color: #0c0d4d;
    text-decoration: none;
    font-weight: 500;
}

.three .title {
    color: #0D3B66;
    font-size: 1.8em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.three .textBox p {
    color: #0D3B66;
    margin-bottom: 10px;
}

/* Footer */
footer {
    background-color: #0D3B66;
    text-align: center;
    display: block;
}

footer .title {
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1em;
    padding-top: 1.5em;
    color: #EFF9FE;
}

footer i {
    padding: 10px;
    font-size: 30px;
    color: #EFF9FE;
    transition: 1s;
    border-radius: 50%;
} 

footer .social i:hover {    
    background: #EFF9FE;
    color: #0D3B66;
    transition: 1s;
}

footer .social #tt,
#github,
#ig,
#linkedin {
    display: inline-block;
}

footer .personal {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    text-align: center;
}

footer .personal .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #EFF9FE;
    /* border: 1px solid #0c0d4d; */
}

footer .personal #phone,
#gmail {
    margin-bottom: 1em;
}

footer a {
    margin-top: 10px;
    margin: 10px 20px;
    text-decoration: none;
    transition: .5s;
}
/* Mobile */
@media only screen and (max-width: 1024px) {
    .one .title {    
        max-width: 600px;
        margin-right: 60px;
    }

    .three .projects .card {
        max-width: 280px;
        height: 300px;
    }

    .three .projects .images {
        max-width: 180px;
        padding: 0px 0px 10px 35px;
    }

    .three .projects a {
        margin-bottom: 3em;
    }

    .three .textBox p {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 990px) {
    .textBox p {
        margin-bottom: 1em;
    }
    
    .two .logos .java-things,
    .web-developing, 
    .game-developing {
        display: inline;
        padding-bottom: 1.2em;
    }

    .two .logos .sub-title h2 {
        margin-top: 1.25em;
    }

    .three .projects {
        display: inline;
    }

    .three .projects .card {        
        max-width: 400px;
        height: 270px;
    }

    .three .projects .images {
        max-width: 250px;
        padding: 0px 0px 10px 90px;
    }
}

@media only screen and (max-width: 900px) {
    .one .image {
        max-width: 460px;
    }
    
    .one .title {
        margin-right: 40px;
    }
}

@media only screen and (max-width: 825px) {
    .one {
        display: inline;
        text-align: center;
    }

    .one .image {
        width: 100%;
        margin-bottom: 2em;
    }

    .one .title {
        max-width: 825px;
        width: 100%;
        margin: 0px;
    }

}

@media only screen and (max-width: 670px) {
    header {
        background: none;
        padding: 10px 10px;
    }
    
    header .nav {
        display: none;       
    }

    header .nav.active {
        width: 100%;
        height: calc(100% - 60px);
        position: fixed;
        top: 70px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #0D3B66;
    }

    header .nav li a {
        font-size: 2em;
    }

    header a i {
        margin-top: 10px;
        font-size: 1.4em;
        color: #1c76ca;
    }

    header .adc {
        font-size: 1.4em;
        color: #1c76ca;
    }

    .menuToggle {
        position: relative;
        width: 30px;
        height: 30px;
        background: url(images/menu.png);
        background-size: 40px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .menuToggle.active {    
        background: url(images/close.png);
        background-size: 40px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .menuToggle i {
        color: #0D3B66;
    }

    .one {
        text-align: center;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        flex-direction: column;
        margin-bottom: 1em;

    }    

    .one .image {
        max-width: 240px;
    }

    .one .title {
        max-width: 320px;
    }

    .one .title h1{
        font-size: 1.7em;
    }
    
    .one .title h2 {
        font-size: 1em;
    }
    
    .one .title p {
        font-size: 0.9em;
        margin-bottom: 0px;
    }

}

@media only screen and (max-width: 570px) {
    header {
        width: 100%;
    }

    header .nav.active {
        width: 100%;
    }
    
    footer i {
        padding: 5px;
        font-size: 25px;
    }
}

@media only screen and (max-width: 490px) {
    .three .projects .card {        
        max-width: 350px;
    }

    .three .projects .images {
        max-width: 220px;
    }
}

@media only screen and (max-width: 446px) {
    
    .two .logos .things {
        max-width: 340px;
    }

    .two .logos #cs,
    #unity,
    #html,
    #css,
    #js,
    #jv,
    #pcs {
        width: 90px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .two .logos #cs img,
    #unity img,
    #html img,
    #css img,
    #js img,
    #jv img, 
    #pcs img {
        width: 70px;
    }
}
