header {
    background-color: #A29285;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    padding: 10px;
    position: sticky;
    top: 0;
    border: 1px solid #81725a;
}

header a {
    font-family: 'Finlandica', sans-serif;
    color: #f7f5ff;
    font-weight: 500;
    padding: 10px;
    transition: .5s;
}

header a:hover {
    background-color: #F4F0E5;
    color: #A29285;
    padding: 10px;
    border-radius: 45%;
    transition: .5s;
}

/* Presentation */
.divOne {
    background-color: #F4F0E5;
    text-align: center;
    border: 1px solid #81725a;
}

h1 {
    font-family: 'Finlandica', sans-serif;
    color: #A29285;
    text-align: center;
}

.divOne img {
    text-align: center;
    width: 200px;
    border-radius: 70%;
    border: 2px solid #A29285;
    transition: .5s;
}
.divOne img:hover {
    width: 225px;
    transition: .5s;
}
img {
    text-align: center;
    width: 250px;
}

.divOne p {
    color: #A29285;
    font-weight: bolder;
    font-size: 18px;
}

h2,
h3,
p {
    font-family: 'Finlandica', sans-serif;
    text-align: center;
    display: block;
    color: #302f2f;
}

/* What I know */
.divTwo {
    background-color: #EBD9BE;
    text-align: center;
    border: 1px solid #81725a;
}

.divTwo img {
    width: 80px;
    margin: 4px;
}

.divTwo h3 {
    display: inline-block;
}

.divTwo .logos #py,
#tensorflow,
#html,
#css,
#js,
#jv {
    width: 100px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    transition: .5s;
}
/* .divTwo .logos #py img:hover,
#tensorflow img:hover,
#html img:hover,
#css img:hover,
#js img:hover,
#jv img:hover {
    width: 100px;
    transition: .5s;
} */

/* Projects */
.divThree {
    background-color: #cebda2;
    text-align: center;
    border: 1px solid #81725a;
}
.app1024 a {
    background-color: aqua;
    border-radius: 10px;
    border: #f7f5ff;
}

/* Footer */
footer {
    background-color: #b4a48a;
    text-align: center;
    border: 1px solid #81725a;
    font-family: 'Finlandica', sans-serif;
    display: block;
}

footer i {
    font-size: 30px;
    color: #302f2f;
}

footer .social #gmail,
#tt,
#github,
#ig,
#linkedin {
    display: inline-block;
}

/* Links */
a {
    font-family: 'Finlandica', sans-serif;
    margin-top: 10px;
    margin: 10px 20px;
    text-decoration: none;
    color: #302f2f;
}

footer a {
    margin-top: 10px;
    margin: 10px 20px;
    text-decoration: none;
    color: #302f2f;
}

/* mail */
.mailme {
    background-color: #F4F0E5;
    text-align: center;
}
.mailme h3 {
    color:#A29285;
}