---
import Layout from "../layouts/Layout.astro";
import PortfolioCard from "../components/PortfolioCard.astro";
---

<Layout title="Alejandro Hernández's Portfolio">
    <main class="w-full h-full overflow-hidden p-4">
        <PortfolioCard />
    </main>
</Layout>
