---
---

<section class="tab-panel hidden h-full w-full flex-col justify-start overflow-hidden gap-2" data-tab-panel="about">
    <h2 class="text-xl font-bold uppercase">About</h2>
    <div class="flex flex-col gap-3 text-adech-boulevard-3 text-sm">
        <p class="min-h-0 overflow-auto">
            Systems Engineering student at the Universidad del Norte in Colombia. <span class="text-adech-venomous-5">UX/UI</span> are my thing, so I specialize in <span class="text-adech-venomous-1">Frontend development</span>.
        </p>

        <p class="min-h-0 overflow-auto">
            Out of the code, I really enjoy playing tennis and learning about <span class="text-adech-sunny-2">cinema</span>.
        </p>

        <span class="flex justify-start items-center gap-1 text-adech-boulevard-1 hover:text-adech-boulevard-3 duration-300">
            <i class="ti ti-map-pin text-lg"/>
            <a class="" href="https://www.google.com/maps/place/Barranquilla,+Colombia" target="_blank">Barranquilla, Colombia</a>
        </span>
    </div>
</section>
