---
const {certificateURL, certificateName, certificateProvider, certificateSpan} = Astro.props;
---

<a class=`certificate text-center bg-swamp1 px-3 py-2 rounded-lg ${certificateSpan}` href=`/certificados/certificado-${certificateURL}.pdf` target="_blank" rel="noopener">
    <i class='ti ti-certificate text-boulevard2 text-3xl'></i>
    <h3 class="text-angel2 text-md">{certificateName}</h3>
    <p class="text-boulevard1">{certificateProvider}</p>
</a>
