---
import Certificate from '../components/Certificate.astro'
---

<section class="flex flex-col sm:grid grid-cols-1 sm:grid-cols-3 gap-4 mb-8 w-full">
    <h2 class="text-3xl text-left text-boulevard2 mx-0 font-bold col-span-3">
        Certifications
    </h2>
    <Certificate
        certificateURL="css"
        certificateName='"Curso de CSS"'
        certificateProvider="códigofacilito"
        certificateSpan=""
    />
    <Certificate
        certificateURL="tailwind"
        certificateName='"Curso de Introducción a TailwindCSS"'
        certificateProvider="códigofacilito"
        certificateSpan="sm:col-span-2"
    />
    <Certificate
        certificateURL="js"
        certificateName='"Curso Profesional de JavaScript"'
        certificateProvider="códigofacilito"
        certificateSpan="sm:col-span-2"
    />
    <Certificate
        certificateURL="ts"
        certificateName='"Curso de TypeScript"'
        certificateProvider="códigofacilito"
        certificateSpan=""
    />
    <Certificate
        certificateURL="git"
        certificateName='"Curso Profesional de Git"'
        certificateProvider="códigofacilito"
        certificateSpan=""
    />
    <Certificate
        certificateURL="design"
        certificateName='"Curso de Diseño para Programadores"'
        certificateProvider="códigofacilito"
        certificateSpan="sm:col-span-2"
    />
</section>
