---
const {certificateURL, certificateName, certificateProvider, certificateSpan} = Astro.props;
---

<a class=`certificate text-center bg-[#333343] px-4 py-2 rounded ${certificateSpan}` href=`/certificados/certificado-${certificateURL}.pdf` target="_blank" rel="noopener">
    <i class=`ti ti-certificate text-[#e3d7fa] text-3xl`></i>
    <h3 class="text-[#e3d7fa] text-md">{certificateName}</h3>
    <p class="text-[#8a60c2]">{certificateProvider}</p>
</a>