<section class="contact w-full" id="contact">
    <div class="mx-auto w-full">
        <h2 class="mb-4 text-3xl font-extrabold text-left text-boulevard2">Contact me</h2>
        <form class="space-y-2 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-4">
            <div class='flex flex-col gap-1'>
                <label for="email" class="text-md font-medium text-boulevard3">Your email</label>
                <input type="email" id="email" class="text-boulevard3 text-sm placeholder:text-boulevard3 rounded-lg focus:ring-primary-500 focus:border-primary-500 w-full p-2.5 bg-swamp1" placeholder="name@mail.com" required>
            </div>
            <div class='flex flex-col gap-1'>
                <label for="subject" class="text-md font-medium text-boulevard3">Subject</label>
                <input type="text" id="subject" class="text-boulevard3 text-sm placeholder:text-boulevard3 rounded-lg focus:ring-primary-500 focus:border-primary-500 w-full p-2.5 bg-swamp1" placeholder="Let me know how I can help you" required>
            </div>
            <div class="flex flex-col gap-1 sm:col-span-2">
                <label for="message" class="text-md font-medium text-boulevard3">Your message</label>
                <textarea id="message" rows="6" class="text-boulevard3 text-sm placeholder:text-boulevard3 rounded-lg focus:ring-primary-500 focus:border-primary-500 w-full p-2.5 bg-swamp1" placeholder="Leave a comment..."></textarea>
            </div>
            <button type="submit" class="py-3 px-5 text-sm font-semibold text-center text-swamp3 rounded-lg bg-boulevard3 hover:bg-boulevard1 duration-300 w-full hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 col-span-2">Send message</button>
        </form>
    </div>
</section>

<script>
    function sendEmail(event) {
        event.preventDefault(); // Prevenir el comportamiento por defecto del formulario

        let params = {
            from_email: document.getElementById('email').value,
            subject: document.getElementById('subject').value,
            message: document.getElementById('message').value,
        };

        emailjs.send("service_frng43o", "template_vofgwrq", params)
            .then(function(response) {
                alert("Correo enviado con éxito!");
            }, function(error) {
                alert("Error al enviar el correo: " + JSON.stringify(error));
            });
    }

    // Añadir el event listener al formulario
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelector('form').addEventListener('submit', sendEmail);
    });
</script>
