<section class="contact w-full" id="contact">
    <div class="pt-8 mx-auto w-full">
        <h2 class="mb-4 text-3xl font-extrabold text-left text-[#fff]">Contact Me</h2>
        <form action="https://formsubmit.co/alejandrohernandezpolo@gmail.com" class="space-y-2 sm:space-y-0 w-[100%] sm:grid sm:grid-cols-2 sm:gap-4" method="post">
            <div>
                <label for="email" class="block mb-2 text-sm font-medium text-[#E7FAD7]">Your email</label>
                <input type="email" id="email" class="shadow-sm text-[#E7FAD7] text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 bg-[#333343]" placeholder="name@mail.com" required>
            </div>
            <div>
                <label for="subject" class="block mb-2 text-sm font-medium text-[#E7FAD7]">Subject</label>
                <input type="text" id="subject" class="shadow-sm text-[#E7FAD7] text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 bg-[#333343]" placeholder="Let me know how I can help you" required>
            </div>
            <div class="sm:col-span-2">
                <label for="message" class="block mb-2 text-sm font-medium text-[#E7FAD7]">Your message</label>
                <textarea id="message" rows="6" class="shadow-sm text-[#E7FAD7] text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 bg-[#333343]" placeholder="Leave a comment..."></textarea>
            </div>
            <button type="submit" class="py-3 px-5 text-sm font-semibold text-center text-[#16161d] rounded-lg bg-[#E7FAD7] hover:bg-[#72a748] duration-300 w-full hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 col-span-2">Send message</button>
        </form>
    </div>
</section>
