---

---

<footer class="flex flex-col items-center gap-3 mx-auto mt-20 mb-3">
    <img src="adechlien-logo.svg" class='w-6' alt="">
    <p class="text-boulevard1 text-sm sm:text-base font-medium">
        Adechlien | Alejandro J. Hernández Polo
    </p>
</footer>
