<header
    class="flex flex-row justify-evenly items-center my-3 mx-0 bg-[#54508066] rounded-full shadow backdrop-blur w-[95%] sm:w-[660px] fixed z-10">
    <a class="text-white font-medium my-3 mx-0" href="#projects">Projects</a>
    <a class="text-white font-medium my-3 mx-0" href="#knowledges">Skills</a>
    <img src="/adc-logo.png" alt="Logo" class="w-8 hidden md:flex" />
    <a class="text-white font-medium my-3 mx-0" href="#about-me">About me</a>
    <a class="text-white font-medium my-3 mx-0" href="#contact">Contact</a>
</header>
