<header>
    <a href="#about-me" class="text-[#bfdbf7] font-medium my-3 mx-0 hover:text-white">Information</a>
    <a href="#knowledges" class="text-[#bfdbf7] font-medium my-3 mx-0 hover:text-white">Skills</a>
    <a href="#projects" class="text-[#bfdbf7] font-medium my-3 mx-0 hover:text-white">Projects</a>
</header>
