<section class="portrait flex flex-col justify-center items-center text-2xl font-medium h-screen gap-4 mx-4" id="portrait">
    <!-- <img class="w-12" src="/adc-logo.png" alt="me"/> -->
    <img class="w-40 sm:w-60 rounded-full" src="/hero.jpeg" alt="me"/>
    <div class="my-description flex flex-col justify-end items-center">
        <h2 class="text-2xl text-boulevard1">Alejandro J. Hernández Polo</h2>
        <p class="text-boulevard2 text-xl">Frontend Developer</p>
        <div class="contact flex flex-row justify-center items-start gap-2 md:gap-5 mt-2 mx-0 text-boulevard3 rounded-lg">
            <a class="flex flex-row justify-center items-center gap-2 duration-500 cursor-pointer hover:text-venomous3" href="https://github.com/adechlien" target="_blank" rel="noopener"><i class="ti ti-brand-github"></i></a>
            <a class="flex flex-row justify-center items-center gap-2 duration-500 cursor-pointer hover:text-venomous3" href="https://www.linkedin.com/in/alejandro-hern%C3%A1ndez-polo/" target="_blank" rel="noopener"><i class="ti ti-brand-linkedin"></i></a>
            <a class="download-cv flex flex-row justify-center items-center gap-2 duration-500 cursor-pointer hover:text-venomous3" href="/CV.pdf" download="" rel="noopener"><i class="ti ti-file-cv"></i></a>
            <!-- <a class="flex flex-row justify-center items-center gap-2 duration-500 cursor-pointer hover:text-[#fff]" href="https://www.instagram.com/yourfriendlyadc/" target="_blank" rel="noopener"><i class="ti ti-brand-instagram"></i></a> -->
        </div>
    </div>
</section>
