---
const {iconBrandName, iconName, pName} = Astro.props;
---

<div class="knowledge flex flex-col justify-center items-center text-center gap-2">
    <i class=`ti ti-brand-${iconBrandName} ${iconName}-icon icon text-5xl duration-500`></i>
    <p class="duration-500 text-sm sm:text-base">{pName}</p>
</div>