<aside class="flex flex-col justify-between sm:justify-start items-center gap-2 sm:gap-4">
    <img src="/me.webp" alt="Me" class="w-auto rounded-lg">
    <div class="flex flex-col items-center gap-2">
        <div class="text-center">
            <h2 class="text-2xl sm:text-base font-semibold text-adech-boulevard-1">
                Alejandro J. Hernández P.
            </h2>
            <p class="text-sm sm:text-xs text-adech-boulevard-3">
                Frontend Developer
            </p>
        </div>
        <div class="flex justify-center gap-2">
            <a href="https://www.linkedin.com/in/adechlien/" target="_blank" rel="noreferrer" class="text-2xl rounded-full text-adech-venomous-1 transition hover:border-[#9bb9f1]/40 hover:bg-white/5" aria-label="Instagram">
                <i class="ti ti-brand-linkedin"></i>
            </a>

            <a href="/alejandro-hernandez-cv.pdf" target="_blank" rel="noreferrer" download="" class="text-2xl rounded-full text-adech-venomous-1 transition hover:border-[#9bb9f1]/40 hover:bg-white/5" aria-label="Instagram">
                <i class="ti ti-file-cv"></i>
            </a>

            <a href="https://github.com/adechlien" target="_blank" rel="noreferrer" class="text-2xl rounded-full text-adech-venomous-1 transition hover:border-[#9bb9f1]/40 hover:bg-white/5" aria-label="Instagram">
                <i class="ti ti-brand-github"></i>
            </a>
        </div>
    </div>
</aside>
