---
import Project from "../components/Project.astro";
---

<section class="flex flex-col sm:grid sm:grid-cols-2 gap-6 w-full mb-8">
    <h2 class="text-3xl text-left text-boulevard2 font-bold sm:col-span-2">
        Latest Projects
    </h2>
    <Project
        projectImage="adech-logo.svg"
        projectName="Adech Theme"
        projectDescriptionInfo="Theme extension for ZED Editor"
        projectURL="https://github.com/adechlien/adech-theme-zed"
        projectRepo="https://github.com/adechlien/adech-theme-zed">
        <i class='ti ti-brand-html5 html-icon'></i>
		<i class='ti ti-brand-css3 css-icon'></i>
		<i class='ti ti-brand-javascript js-icon'></i>
		<i class="ti ti-brand-tailwind tailwind-icon"></i>
        <i class="ti ti-brand-astro astro-icon"></i>
    </Project>
    <Project
        projectName="Leggiamo"
        projectImage="leggiamo-icon.svg"
        projectDescriptionInfo="Read stories and meditations written by me"
        projectURL="https://leggiamo.vercel.app/"
        projectRepo="https://github.com/Adechlien/Leggiamo">
        <i class='ti ti-brand-html5 html-icon'></i>
		<i class='ti ti-brand-css3 css-icon'></i>
		<i class='ti ti-brand-javascript js-icon'></i>
        <i class="ti ti-brand-typescript ts-icon"></i>
		<i class="ti ti-brand-tailwind tailwind-icon"></i>
        <i class="ti ti-brand-astro astro-icon"></i>
    </Project>
    <Project
        projectImage="hess-logo4.png"
        projectName="Hess"
        projectDescriptionInfo="Guess the Hexadecimal code of the colour!"
        projectURL="https://hess.vercel.app/"
        projectRepo="https://github.com/Adechlien/Hess">
        <i class='ti ti-brand-html5 html-icon'></i>
		<i class='ti ti-brand-css3 css-icon'></i>
		<i class='ti ti-brand-javascript js-icon'></i>
		<i class="ti ti-brand-tailwind tailwind-icon"></i>
        <i class="ti ti-brand-astro astro-icon"></i>
        <i class="ti ti-brand-react react-icon"></i>
    </Project>
    <Project
        projectImage="reposteria.svg"
        projectName="Trinidad Repostería"
        projectDescriptionInfo="Pastry shop website"
        projectURL="https://natry-reposteria.vercel.app/"
        projectRepo="">
        <i class='ti ti-brand-html5 html-icon'></i>
		<i class='ti ti-brand-css3 css-icon'></i>
		<i class='ti ti-brand-javascript js-icon'></i>
        <i class="ti ti-brand-astro astro-icon"></i>
		<i class="ti ti-brand-tailwind tailwind-icon"></i>
    </Project>
</section>
