---
import Project from "../components/Project.astro";
---

<section class="flex flex-col sm:grid sm:grid-cols-2 gap-6 w-full mb-8">
    <h2 class="text-3xl text-left text-[#fff] font-bold sm:col-span-2">
        Latest Projects
    </h2>
    <Project
        projectName="Leggiamo"
        projectImage="leggiamo-icon.png"
        projectDescriptionInfo="Read stories, meditations and poems written by me about things happen to me. Of course I didn´t make them unrealistic."
        projectURL="https://leggiamo.vercel.app/"
        projectRepo="https://github.com/Adechlien/Leggiamo">
        <i class='ti ti-brand-html5 html-icon'></i>
		<i class='ti ti-brand-css3 css-icon'></i>
		<i class='ti ti-brand-javascript js-icon'></i>
        <i class="ti ti-brand-typescript ts-icon"></i>
		<i class="ti ti-brand-tailwind tailwind-icon"></i>
        <i class="ti ti-brand-astro astro-icon"></i>
    </Project>
    <Project
        projectImage="hess-logo4.png"
        projectName="Hess"
        projectDescriptionInfo="You don't know about Hexadecimal code? Don't worry, I can teach you about them. Learn by tests and levels."
        projectURL="https://hess.vercel.app/"
        projectRepo="https://github.com/Adechlien/Hess">
        <i class='ti ti-brand-html5 html-icon'></i>
		<i class='ti ti-brand-css3 css-icon'></i>
		<i class='ti ti-brand-javascript js-icon'></i>
		<i class="ti ti-brand-tailwind tailwind-icon"></i>
        <i class="ti ti-brand-astro astro-icon"></i>
        <i class="ti ti-brand-react react-icon"></i>
    </Project>
    <!-- <Project
        projectImage="ieee-logo.png"
        projectName="IEEE COM/COM Website"
        projectDescriptionInfo="As member of IEEE COM/COM at Universidad del Norte (Colombia), I manage the joint chapter's website."
        projectURL="https://hess.vercel.app/"
        projectRepo="https://github.com/Adechlien/Hess">
        <i class='ti ti-brand-wordpress'></i>
    </Project>
    <Project
        projectImage="adc-logo.png"
        projectName="Adech Theme for Zed"
        projectDescriptionInfo="Theme extension for ZED, a recent IDE Code Editor."
        projectURL="https://hess.vercel.app/"
        projectRepo="https://github.com/Adechlien/Hess">
        <i class='ti ti-json'></i>
    </Project> -->
</section>
