---
interface Props {
    title: string;
}
const { title } = Astro.props;

import PortfolioCard from "../components/PortfolioCard.astro";
---

<!doctype html>
<html lang="en" class="h-full">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Portfolio" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <link rel="icon" href="/adechlien-logo.svg" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet"/>
    </head>

    <body class="h-screen min-h-dvh bg-adech-swamp-3 text-adech-boulevard-1 antialiased overflow-x-hidden">
        <PortfolioCard />
    </body>

    <style>
        :root {
            font-family: Bellota Text, sans-serif;
        }
    </style>
</html>
